*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat',arial;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
 /* background-color: #FAACA8; */
background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
height: 100%;
background-attachment: fixed;
/* background-color: rgb(158, 158, 158); */
margin-bottom: 150px;

}

.main{
    width: 90%;
    /* background-color: rgba(19, 19, 19, 0.603); */
    margin: auto;
    min-height: 150px;
    margin-bottom: 150px;
}
.box-1{
margin: auto;
min-height: 70px;
background-color: white;
margin-top: 50px;
border-radius: 1rem;
background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
border: 3px solid #212529;
padding:20px;
padding-top: 10px;
box-shadow: 0px 5px 10px black;
background-image: url("/img/background/rd-cover.jpg");
}
.box-2{
border-radius: 1rem;
margin: auto;
min-height: 300px;
background-color: white;
margin-top:30px;
background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
border: 3px solid #212529;
box-shadow: 0px 5px 10px black;
background-image: url("/img/background/2942776.png");
background-size: cover;
}

input{
    font-size: 25px;
    padding-left: 10px;
    width:100%;
    height: 100%;
    border:none;
    height: 50px;
    background: none;
    border-bottom:2px solid black;
    outline: none;
    text-align: center;
    color: white;
}
input:focus{
    border: none;
    border-bottom:2px solid red;
    color: red;
    text-transform: capitalize;
}

#weatherImage{
   height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin-top: -50px;

}
#showTemp{
    /* color:white; */
    margin-top: -50px;
    text-shadow: 0px 5px 5px rgb(255, 255, 255);
    
}
button{
    width:100%
}
.col-md-8,.col-md-4{
    /* border: 1px solid red; */
}

#cityname,.search-btn{
    margin-top: 10px;
}
.search-btn{
border: 2px solid rgb(0, 0, 0);
}
.inner-box1{
    padding: 25px;
}
.forecast-box{
    background-color: #FAACA8;
    min-height: 300px;
    border: 1px solid black;
}

#weatherDisc{
    text-align: center;
    /* text-shadow: 0px 5px 5px rgb(248, 247, 247); */

}
#cityName , #showDiscription{
    text-shadow: 0px 5px 5px rgb(252, 251, 251);

}