body{
    background-image:url("/img/background/pattern-002.png");
    background-repeat: repeat;
    background-size: 1500px;
    height:100vh;
}
#yt-img{
    padding:10px;
}
/* #yt-img b{
    margin-top: 150px;
} */
#yt-img img{
    /* width: 100%; */
    height: 50px;
    margin-top:10px;
}
#getRawLink{
/* width: 80%; */
}
#exampleInputEmail1{
    /* width: 80%; */
}
